<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="Utils.Listeners" />
		<listener class-name="Utils.ExtentReport" />
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="test.PreferanceTest1" />
			<class name="test.PreferenceTest2" />
			<class name="test.PreferanceTest3" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
